body{
  background-color:gray;
  
}

.icon {
  font-size: 80px;
  color: rgb(21, 18, 0);
}

.grid{
  margin-top: 50px;
  display: grid;
  gap: 15px;
  grid-template-columns:1fr 1fr 1fr;
  border-style: groove;
}

.Box{

  border-width: 10px;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}